<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">            
    <title>Email</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,700i" rel="stylesheet">
    <style type="text/css">
      *{
          margin: 0;
          padding: 0;
          font-family: 'Noto Sans', sans-serif;
      }
    </style>
  </head>
  <body>
    <% @shipping_address = @draft_order.shipping_address %>
    <div style="max-width: 600px;margin: 0 auto;">
        <!-- <div style="padding: 25px 15px;background-color: #36404a;text-align: center;">
            <a href="#" style="display: inline-block;">
                <img src="logo.png" alt="" />
            </a>
        </div> -->
      <div style="width:clac(100% - 30px);background-color: #fff;padding: 15px;">
        <div style="display: block;text-align: center;margin-bottom: 15px;">
          <h2 style="line-height: 26px;margin: 20px 0 30px;">New Quote Request <%= @draft_order.id %></h2>
        </div>
        <div style="display:block;">
          <p style="font-size: 14px;line-height: 26px;margin-bottom: 15px;">You just received a new quote request from <%= @store_name %>. Click the button below to review the order in Shopify. You can also review the order below.
          </p>
        </div>
        <div style="display:block;margin: 20px 0;text-align: center;">
          <a href="https://<%= @store_name %>/admin/draft_orders/<%= @draft_order.id %>" target="_blank" style="font-size: 18px;color: #fff;background: #149a90;padding: 12px 25px;border-radius: 3px;text-decoration: none;text-transform: uppercase;letter-spacing: 1px;display: inline-block;">View Quote</a>
        </div>
        <div style="display:block;">
          <h4 style="color: #999;">Order Summary</h4>
          <% @draft_order.line_items.each do |line_item| %>
            <div style="display: block;border-bottom: 1px solid #e5e5e5;padding: 20px 0;">
              <div style="width:calc(70% - 5px);display: inline-block;vertical-align: top;">
                <!-- <div style="width:90px;height: 90px;border-radius: 5px;border:2px solid #e5e5e5;background-color: #f2f2f4;display: inline-block;vertical-align: top;margin-right: 15px;">
                    <img src="monthly.png" alt="" style="width:100%;height: 100%;object-fit: cover;" />
                </div> -->
                <div style="display: inline-block;vertical-align: top;padding-top: 10px;">
                    <p style="font-size: 16px;"><%= line_item.title %></p>
                    <p style="font-size: 14px;color: #9999;"><%= line_item.variant_title %></p>
                </div>
              </div>
              <div style="width:calc(30% - 5px);display: inline-block;vertical-align: top;text-align: right;">
                  <!-- <p style="color: #9999;font-size: 14px;"><strike>$50.00</strike></p> -->
                  <p style="font-size: 16px;">$<%= line_item.price %></p>
              </div>
            </div>
          <% end %>
            <!-- <div style="display: block;border-bottom: 1px solid #e5e5e5;padding: 20px 0;">
                <div style="width:calc(70% - 5px);display: inline-block;vertical-align: top;">
                    <div style="width:90px;height: 90px;border-radius: 5px;border:2px solid #e5e5e5;background-color: #f2f2f4;display: inline-block;vertical-align: top;margin-right: 15px;">
                        <img src="monthly.png" alt="" style="width:100%;height: 100%;object-fit: cover;" />
                    </div>
                    <div style="display: inline-block;vertical-align: top;padding-top: 10px;">
                        <p style="font-size: 16px;">Bloomsy Bouquet #1</p>
                    </div>
                </div>
                <div style="width:calc(30% - 5px);display: inline-block;vertical-align: top;text-align: right;">
                    <p style="color: #9999;font-size: 14px;"><strike>$50.00</strike></p>
                    <p style="font-size: 16px;">$30.00</p>
                </div>
            </div> -->
            <!-- <div style="display: block;border-bottom: 1px solid #e5e5e5;padding: 20px 0;">
                <div style="width:calc(70% - 5px);display: inline-block;vertical-align: top;">
                    <p style="color: #999999;font-size: 16px;margin-bottom: 10px;">Subtotal</p>
                    <p style="color: #999999;font-size: 16px;">Shipping</p>
                </div>
                <div style="width:calc(30% - 5px);display: inline-block;vertical-align: top;text-align: right;">
                    <p style="font-size: 16px;margin-bottom: 10px;">$60.00</p>
                    <p style="font-size: 16px;">$10.00</p>
                </div>
            </div> -->
          <div style="display: block;border-bottom: 1px solid #e5e5e5;padding: 20px 0;">
            <div style="width:calc(70% - 5px);display: inline-block;vertical-align: top;">
              <p style="color: #999999;font-size: 16px;">Total</p>
            </div>
            <div style="width:calc(30% - 5px);display: inline-block;vertical-align: top;text-align: right;">
              <p style="font-size: 18px;font-weight: 600;">$<%= @draft_order.total_price %></p>
            </div>
          </div>
        </div>
        <div style="display:block;margin: 20px 0;">
          <h3 style="margin-bottom: 10px;">Customer Information</h3>
          <div style="display: block;margin-bottom: 20px;">
            <p style="color: #999;margin-bottom: 5px;font-size: 16px;">Shipping address</p>
            <p style="margin-bottom: 0;line-height: 26px;font-size: 14px;">
            <%= @draft_order.customer.first_name %> <%= @draft_order.customer.last_name %> <br />
            <%= @shipping_address.company %> <br />
            <%= @shipping_address.address1 %> <br />
            <%= @shipping_address.city %> <%= @shipping_address.province %>  <%= @shipping_address.zip %> <br />
            <%= @shipping_address.country %> <br />
            <%= @shipping_address.phone %> <br />
            </p>
          </div>
            <!-- <div style="display: block;margin-bottom: 20px;">
                <p style="color: #999;margin-bottom: 5px;font-size: 16px;">Shipping method</p>
                <p style="margin-bottom: 0;line-height: 26px;font-size: 14px;">Generic Shipping</p>
            </div>
            <div style="display: block;margin-bottom: 20px;">
                <p style="color: #999;margin-bottom: 5px;font-size: 16px;">Payment method</p>
                <p style="margin-bottom: 0;line-height: 26px;font-size: 14px;">Visa - $70.00</p>
            </div> -->
        </div>
      </div>
           
       <!--  <div style="padding: 20px 15px;background-color: #f7f7f7;text-align: center;">
            <div class="social-icon">
                <a href="#" style=" display: inline-block; padding: 0 5px;">
                    <img src="facebook.png" alt="" style="width: 32px;" />
                </a>
                <a href="#" style=" display: inline-block; padding: 0 5px;">
                    <img src="twitter.png" alt="" style="width: 32px;" />
                </a>
                <a href="#" style=" display: inline-block; padding: 0 5px;">
                    <img src="instagram.png" alt="" style="width: 32px;" />
                </a>
            </div>
            <p style="color: #000;font-size: 14px;padding-top: 10px;">Copyright © 2018 all right reserved </p>
        </div>
        <div style=" background-color: #ebeff2;text-align: center; padding: 10px 15px;">
            <p style="color: #797979;font-size: 14px;">© 2016 - 2018. All rights reserved.</p>
        </div> -->
    </div>
  </body>
</html>